#nav-panier {
    margin-bottom: 50px !important;
}
.container-panier {
    background-color: $color-secondary !important;
    padding-bottom: 800px;
    
}
#image-logo {
    width: 200px;
    margin: 30px;
    text-align: center !important;
    
}

#container-form {
    margin-top: 20px;
    padding: 20px;
    box-shadow: 1px 3px 8px rgb(180, 180, 180);
    background-color: #fff;
    .btn-center {
        text-align: center !important;
        #send-cart {
            padding-left: 30px;
            padding-right: 30px;
            @include btn;
            font-size: 1em;
            
        }
    }
    
}

#container-cart {
    margin-top: 20px;
    padding: 20px;
    box-shadow: 1px 3px 8px rgb(180, 180, 180);
    background-color: #fff;
    color: $color-primary;
    font-size: 1em;
        

    #container-cart--commande {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        margin-bottom: 15px;
        border-bottom: 1px solid grey;
        #image-product {
           width: 90px;
            object-fit: cover;
            margin-right: 15px;
        }
        .info {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin-bottom: 20px;
            .groupes {
                display: flex;
                
                .info-details{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }#info-price {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .btn-delete {
                color: lighten($color: #261623, $amount: 10%) !important;
                &:hover {
                    color: lighten($color: #261623, $amount: 25%) !important;
        
                }
            }
        }
    }
    &--total {
        border-bottom: 1px solid grey;
        .show-total {
            display: flex;
            justify-content: space-between;
        }
    }
}

