.success-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
}
.success {
    width: 500px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}