h4 {
  font-size: 1.4em !important;
  margin-top: 50px !important;
  margin-bottom: 20px !important;
  color: #261623 !important;
  font-weight: 400 !important;
  text-align: center;
}

header .bg-header {
  background-color: #f3e9f1;
}
header .bg-header nav img {
  width: 120px;
}
header .bg-header nav .nav-articles {
  font-size: 1.2em;
  color: #261623;
  text-decoration: none;
}
header .bg-header nav .nav-shop {
  text-decoration: none;
}
header .bg-header nav .nav-shop .fas {
  font-size: 1.5em;
  display: block;
  background: linear-gradient(164deg, #e58a20 4%, #8e5cfa 68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 12px !important;
  border: none !important;
  box-shadow: 1px 3px 8px #b4b4b4;
  transition: all 0.4s ease-in-out;
}
.card a:hover {
  text-decoration: none;
  box-shadow: 1px 3px 8px #8b8a8a;
  border-radius: 12px !important;
}
.card--photo {
  width: 100%;
  object-fit: cover;
  height: 235px;
  border-radius: 12px 12px 0px 0px !important;
}
.card--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #261623;
  margin: 10px;
}

.detail-photo {
  max-width: 550px;
  object-fit: cover;
  margin: 50px;
  border-radius: 10px;
}

#detail-info {
  display: flex;
  flex-direction: column;
  margin: 50px;
}
#detail-info--name {
  height: 35px;
  border-bottom: solid 1px #261623;
  margin-bottom: 30px;
}
#detail-info--price {
  height: 35px;
  border-bottom: solid 1px #261623;
  margin-bottom: 30px;
}
#detail-info--color {
  margin-bottom: 30px;
}
#detail-info .btn {
  background-color: #40253b !important;
  border: none !important;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.2em;
  padding-bottom: 13px;
  padding-top: 13px;
}
#detail-info .btn:hover {
  background-color: #563250 !important;
  border: none !important;
}
#detail-info--quantity {
  margin-top: 30px;
  margin-left: 13px;
  width: 100px;
}
#detail-info--description {
  height: 90px;
  border-bottom: solid 1px #261623;
  margin-bottom: 100px;
}
#detail-info .selected {
  display: flex;
}
#detail-info .selected select {
  height: 30px;
  width: 100px;
  margin-left: 20px;
}

.modal-body {
  text-align: center !important;
}

.modal-footer {
  justify-content: center !important;
}
.modal-footer .btn-achat {
  background-color: #40253b !important;
  border: none !important;
}
.modal-footer .btn-achat:hover {
  background-color: #563250 !important;
  border: none !important;
}

.container-panier {
  background-color: #f7f0f5 !important;
  padding-bottom: 800px;
}

#image-logo {
  width: 200px;
  margin: 30px;
  text-align: center !important;
}

#container-form {
  margin-top: 20px;
  padding: 20px;
  box-shadow: 1px 3px 8px #b4b4b4;
  background-color: #fff;
}
#container-form .btn-center {
  text-align: center !important;
}
#container-form .btn-center #send-cart {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #40253b !important;
  border: none !important;
  font-size: 1em;
}
#container-form .btn-center #send-cart:hover {
  background-color: #563250 !important;
  border: none !important;
}

#container-cart {
  margin-top: 20px;
  padding: 20px;
  box-shadow: 1px 3px 8px #b4b4b4;
  background-color: #fff;
  color: #261623;
  font-size: 1em;
}
#container-cart #container-cart--commande {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin-bottom: 15px;
  border-bottom: 1px solid grey;
}
#container-cart #container-cart--commande #image-product {
  width: 90px;
  object-fit: cover;
  margin-right: 15px;
}
#container-cart #container-cart--commande .info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
}
#container-cart #container-cart--commande .info .groupes {
  display: flex;
}
#container-cart #container-cart--commande .info .groupes .info-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#container-cart #container-cart--commande #info-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#container-cart #container-cart--commande #info-price .btn-delete {
  color: #462941 !important;
}
#container-cart #container-cart--commande #info-price .btn-delete:hover {
  color: #77456d !important;
}
#container-cart--total {
  border-bottom: 1px solid grey;
}
#container-cart--total .show-total {
  display: flex;
  justify-content: space-between;
}

.container-success {
  background-color: #f7f0f5 !important;
  padding-bottom: 800px;
}
.container-success .success-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-success .success-row .success {
  max-width: 830px;
  height: 400px;
  box-shadow: 1px 3px 8px #b4b4b4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  margin-top: 150px;
  padding: 50px;
}
.container-success .success-row .success h3 {
  font-size: 1.5em;
  color: #563250 !important;
}
.container-success .success-row .success p {
  font-size: 1.1em;
}
.container-success .success-row .success a {
  text-decoration: none;
  color: #563250 !important;
}
.container-success .success-row .success a :hover {
  color: #77456d !important;
}

footer {
  background-color: #261623;
}
footer .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
footer .container ul {
  margin: 0;
  padding: 0;
}
footer .container ul li {
  list-style: none;
  text-align: center;
}
footer .container ul a {
  color: #f3e9f1;
  font-size: 1.1em;
  text-decoration: none;
}

/*# sourceMappingURL=details.css.map */
