h4 {
  font-size: 1.4em !important;
  margin-top: 50px !important;
  margin-bottom: 20px !important;
  color: #261623 !important;
  font-weight: 400 !important;
  text-align: center;
}

header .bg-header {
  background-color: #f3e9f1;
}
header .bg-header nav img {
  width: 120px;
}
header .bg-header nav .nav-articles {
  font-size: 1.2em;
  color: #261623;
  text-decoration: none;
}
header .bg-header nav .nav-shop {
  text-decoration: none;
}
header .bg-header nav .nav-shop .fas {
  font-size: 1.5em;
  display: block;
  background: linear-gradient(164deg, #e58a20 4%, #8e5cfa 68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 12px !important;
  border: none !important;
  box-shadow: 1px 3px 8px #b4b4b4;
  transition: all 0.4s ease-in-out;
}
.card a:hover {
  text-decoration: none;
  box-shadow: 1px 3px 8px #8b8a8a;
  border-radius: 12px !important;
}
.card--photo {
  width: 100%;
  object-fit: cover;
  height: 235px;
  border-radius: 12px 12px 0px 0px !important;
}
.card--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #261623;
  margin: 10px;
}

.detail-photo {
  max-width: 550px;
  object-fit: cover;
  margin: 50px;
  border-radius: 10px;
}

#detail-info {
  display: flex;
  flex-direction: column;
  margin: 50px;
}
#detail-info--name {
  height: 35px;
  border-bottom: solid 1px #261623;
  margin-bottom: 30px;
}
#detail-info--price {
  height: 35px;
  border-bottom: solid 1px #261623;
  margin-bottom: 30px;
}
#detail-info--color {
  margin-bottom: 30px;
}
#detail-info .btn {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #261623 !important;
  border: none !important;
  font-size: 1.2em;
  padding-bottom: 13px;
  padding-top: 13px;
}
#detail-info .btn:hover {
  background-color: #462941 !important;
  border: none !important;
}
#detail-info--quantity {
  margin-top: 30px;
  margin-left: 13px;
  width: 100px;
}
#detail-info--description {
  height: 90px;
  border-bottom: solid 1px #261623;
  margin-bottom: 100px;
}
#detail-info .selected {
  display: flex;
}
#detail-info .selected select {
  height: 30px;
  width: 100px;
  margin-left: 20px;
}

h3 {
  margin-top: 100px !important;
}

.container-form {
  margin-top: 20px;
  padding: 20px;
  box-shadow: 1px 3px 8px #b4b4b4;
}

.container-resume {
  margin-top: 20px;
  padding: 20px;
  box-shadow: 1px 3px 8px #b4b4b4;
}
.container-resume--commande {
  display: flex;
  align-content: space-around;
  margin-bottom: 15px;
  border-bottom: 1px solid grey;
}
.container-resume--commande img {
  width: 150px;
  object-fit: cover;
  margin: 10px;
}
.container-resume--commande .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
}
.container-resume--commande .info-details {
  display: flex;
  flex-direction: column;
}
.container-resume--commande .info-price {
  margin-left: 105px;
}
.container-resume--total {
  border-bottom: 1px solid grey;
}
.container-resume--total .show-total {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #261623;
}
footer .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
footer .container ul {
  margin: 0;
  padding: 0;
}
footer .container ul li {
  list-style: none;
  text-align: center;
}
footer .container ul a {
  color: #f3e9f1;
  font-size: 1.1em;
  text-decoration: none;
}

/*# sourceMappingURL=details.css.map */
